* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

body a {
  text-decoration: none;
  color: black;
}

body ul {
  list-style-type: none;
  padding-left: 0;
}

body ul li {
  font-size: 15px;
  padding: 0 20px;
}

.heading__logo--img {
  width: 170px;
  display: block;
  margin: 0 auto;
}

.heading__recherche--form--div {
  margin: 20px;
}

.heading__recherche--form--div input {
  padding: 15px;
  border: none;
  width: 100%;
  background-color: #E7E7E7;
  border-radius: 5px;
}

.rechercher {
  top: -32%;
  transform: translateY(-50%);
  background: none;
  border: none;
  position: relative;
  font-size: 20px;
  margin: 0;
  padding: 0;
  left: 75rem;
  cursor: pointer;
}

.select {
  margin: 20px;
}

.select select {
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.select .select-filter {
  display: flex;
  flex-direction: row;
}

.select .select-filter__item {
  margin-right: 20px;
  color: #FFFFFF;
  position: relative;
}

.select .select-filter__item .selected-items {
  display: flex;
  flex-direction: row;
}

.select .select-filter__item .selected-items .select-filter-selected {
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-right: 20px;
}

.select .select-filter__item .selected-items .select-filter-selected i {
  margin-left: 20px;
  font-size: 13px;
}

.select .select-filter__item .selected-items .ingredient-selected {
  background-color: #3282F7;
}

.select .select-filter__item .selected-items .appareil-selected {
  background-color: #68D9A4;
}

.select .select-filter__item .selected-items .ustensile-selected {
  background-color: #ED6454;
}

.select .select-filter__item .ingredients {
  background-color: #3282F7;
}

.select .select-filter__item .appareil {
  background-color: #68D9A4;
}

.select .select-filter__item .ustensiles {
  background-color: #ED6454;
}

.select .select-filter #ingredients {
  background-color: #3282F7;
}

.select .select-filter #appareil {
  background-color: #68D9A4;
}

.select .select-filter #ustensiles {
  background-color: #ED6454;
}

.select .select-filter__donnees {
  margin-right: 27px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  width: auto;
}

.select .select-filter__donnees ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
}

.select .select-filter__donnees ul#ul-ingredients {
  height: 50rem;
  width: 40rem;
  max-width: 40rem;
}

.select .select-filter__donnees ul#ul-ingredients li {
  flex: 1 1 auto;
  width: auto;
  max-width: 31.33%;
  margin-bottom: 1px;
}

.select .select-filter__donnees--label {
  position: relative;
  padding: 5px 25px 5px 10px;
  margin: 5px 10px;
  opacity: 0.5;
  font-weight: bold;
}

.select .select-filter__donnees--label:after {
  content: "\f106";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  font-size: 19px;
  position: absolute;
  top: 6px;
  right: 5px;
  opacity: 1;
}

.recettes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recettes-bloc {
  display: flex;
  flex-direction: column;
  width: 31.33%;
  border: 2px solid green;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #E7E7E7;
}

.recettes-bloc__heading {
  background-color: #C7BEBE;
  padding: 10px;
  width: 100%;
  padding: 70px;
}

.recette {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  background-color: #E7E7E7;
}

.recette p {
  font-size: 13px;
}

.recette__ingredients h2 {
  font-size: 16px;
}

.recette__ingredients--p {
  font-size: 13px;
}

.recette__ingredients--p--span {
  font-weight: bold;
}

.recette__description {
  width: 49%;
}

.recette__description--h2 {
  font-size: 16px;
  margin-left: 93px;
}

.recette__description--p {
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.recettes-old {
  display: none;
}

.new-select-items {
  display: flex;
  flex-direction: row;
}

.new-select {
  width: 135px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.new-select-ingredients {
  background-color: #3282F7;
}

.new-select-ingredients::after {
  content: "\f107";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  font-size: 19px;
  position: absolute;
  top: 60px;
  left: 7rem;
}

.new-select-appareil {
  background-color: #68D9A4;
}

.new-select-appareil:after {
  content: "\f107";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  font-size: 19px;
  position: absolute;
  top: 3.8rem;
  left: 15rem;
}

.new-select-ustensiles {
  background-color: #ED6454;
}

.new-select-ustensiles:after {
  content: "\f107";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  font-size: 19px;
  position: absolute;
  top: 3.8rem;
  left: 24rem;
}

.custom-select-items {
  display: flex;
  flex-direction: row;
}

select {
  display: none;
}

.select-hide {
  display: none;
}

.select-filter-old {
  display: none;
}
