* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
body a {
    text-decoration: none;
    color: black;
}
body ul {
    list-style-type: none;
    padding-left: 0;
    li {
        font-size: 15px;
        padding: 0 20px;
    }
}

.heading {
    &__logo {
        &--img {
            width: 170px;
            display: block;
            margin: 0 auto;
        }
    }
    &__recherche {
       &--form {
           &--div {
               margin: 20px;
            input {
                padding: 15px;
                border: none;
                width: 100%;
                background-color: #E7E7E7;
                border-radius: 5px;
                position: relative;
               }
           }
           
       } 
    }
}

.rechercher {
    position: absolute;
    top: 6.5rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    left: 75rem;
    cursor: pointer;
}

.select {
    margin: 20px;
    select {
        color: #FFFFFF;
        padding: 10px 15px;
        border: none;
        border-radius: 5px; 
    }
    .select-filter {
        display: flex;
        flex-direction: row;

        &__item {
            margin-right: 20px;
            position: relative;

            .selected-items {
                display: flex;
                flex-direction: row;

                .select-filter-selected {
                    padding: 10px 15px;
                    margin-bottom: 10px;
                    border-radius: 5px;
                    margin-right: 20px;
                    i {
                        margin-left: 20px;
                        font-size: 13px;
                    }
                }

                .ingredient-selected {
                    background-color: #3282F7;
                }
                .appareil-selected {
                    background-color: #68D9A4;
                }
                .ustensile-selected {
                    background-color: #ED6454;
                }
            }
            .ingredients {
                background-color: #3282F7;
            } 
            .appareil {
                background-color: #68D9A4;
            }
            .ustensiles {
                background-color: #ED6454;
            }
        }
        #ingredients {
            background-color: #3282F7;    
        }
        #appareil {
            background-color: #68D9A4;
        }
        #ustensiles {
            background-color: #ED6454;
        }

        &__donnees {
            margin-right: 27px;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 15px;
            // position: absolute;
            // left: 0;
            // top: 0;
            ul {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: auto;
            }

            ul#ul-ingredients{ 
                height: 50rem;
                width: 40rem;
                
                li{
                    flex: 1 1 auto;
                    width: auto;
                    max-width: 31.33%;
                    margin-bottom: 1px;
                }
            }

            &--label {
                position: relative;
                padding: 5px 25px 5px 10px;
                margin: 5px 10px;
                // font-size: 15px;
                opacity: 0.5;
                font-weight: bold;
                &:after {
                    content: "\f106";
                    font-family: 'Font Awesome 5 Pro';
                    font-weight: 900;
                    font-size: 19px;
                    position: absolute;
                    top: 6px;
                    right: 5px;
                    opacity: 1;
                }
            }    
        }   
    }
}


.recettes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.recettes-bloc {
    display: flex;
    flex-direction: column;
    width: 31.33%;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #E7E7E7;
    box-shadow: 0px 3px 5px 1px #757575;

    &__heading {
       background-color: #C7BEBE; 
       padding: 10px;
       width: 100%;
       padding: 70px;
    }
}
.recette {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    background-color: #E7E7E7;
    p {
        font-size: 13px; 
    }

    &__ingredients { 
        h2 {
            font-size: 16px;
        }
        &--p {
            font-size: 13px;
            &--span {
                font-weight: bold;
            }
        }
    }

    &__description {
        width: 49%;
        &--h2 {
            font-size: 16px;
            margin-left: 93px;
        }
        &--p {
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
        }
    }
}

.new-select-items {
    color: #FFFFFF;
    margin-right: 20px;
    position: relative;
    &>*:after {
        content:"\f107";
        font-family: 'Font Awesome 5 Pro';
        font-weight: 900;
        font-size: 19px;
        position: absolute;
        left: 7rem;
    }
}

.new-select {
    width: 135px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
} 
.new-select-ingredients {
    background-color: #3282F7;
}

.new-select-appareil {
    background-color: #68D9A4;
}
.new-select-ustensiles {
    background-color: #ED6454;
}

.custom-select-items {
    display: flex;
    flex-direction: row;
    position: inherit;
    height: 60px;
}

select {
    display: none;
}

.select-hide {
    display: none;
}

.active {
    display: block;
}

.tags {
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #FFFFFF;
    border-radius: 5px;
    margin-right: 20px;
    i {
        margin-left: 7px;
    }
}

#erreur {
   text-align: center;
   font-weight: bold;
}

